/*#topnav ul{
  background-color: #9d8484;
  text-align: center;
  display: flex; /* Flex makes all boxes the same size */
/*  padding: 3px;
  margin: 0;
}

#topnav li {
  display: inline-block; /* Removes the bullets */
/*  text-align: center;
  flex: 100%; /* Flex makes all boxes the same size */
/*  font-size: 20px;
  text-shadow: 1px 1px black;
}

#topnav li:hover {
  background-color: black;
}

#topnav li a {
  text-decoration: none;
  color: white;
  display: block; /* Allows the entire box to be an anchor */
/*  text-align: center;
}

.link, .link:hover {
  color: white;
  cursor: pointer;
}
*/
body{
  margin: 5%;
}

h1{
  text-align: center;
}

h2{
  color: green;
  text-align: center;
}

footer{
  text-align: center;
}

span{
  font-size: 22px;
  background-color: yellow;
}

.main, .hours{
  text-align: center;
}

.map{
  color: inherit;
}

.nostyle{
  font-size:14px;
  display: inline;
  text-align: center;
  background-color: #rgb(148, 242, 50);
}

.coupon{
  border: 2px dotted black;
  width: 50%;
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.start{
  text-align: left;
  padding: 0 10% 0 10%;
  font-size: 20px;
}

#botnav {
  color: white;
  background-color: black;
}

em {
  font-size: 10px;
}

#menu {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.nobullet {
  list-style-type: none;
}

#toppings, #protein {
  column-count: 2;
}
