<!DOCTYPE html>
<html>
  <head>
    <title>Woodstocks Pizza</title>
    <link rel=stylesheet type="text/css" href="css/main.css">
  </head>

<body>
  <div>
    <h1>About Us</h1>
      <p></p>

  </div><hr>
</body>

<footer>
  <h2>Hours of Operation</h2>
  <div class="hours">
    <h3>Every Day!</h3>
    <strong>
      Sunday-Thursday 11am-12am<br>
      Friday-Saturday 11am-1am<br><br>

      Fast, Free Delivery<br>
      <em>in most of Corvallis</em><br><br>

      <a href="http://maps.google.com/?q=1045%20NW%20Kings%20Blvd%20Corvallis,%20Oregon" class="map" target="_blank">
      1045 NW Kings Blvd<br>
      Corvallis, Oregon</a><br><br>
      <span>541-752-5151</span>
    </strong>
  </div><hr><br>

</footer>
