<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type="text/css" href="css/main.css">
  </head>

<body>
  <div>
    <h1>Print this page and clip the coupons</h1>
	   <h2>Then call us: 541-752-5151</h2>
     <h3>Remember, we deliver <strong>free</strong> to most of Corvallis!</h3>
     <br />
		<div class="coupon">
			<center><img src="static/css/img/coupon.jpg"></center>
			<h3>$2.00 Off BreadSticks or CheeseSticks</h3>
			<p>With purchase of sticks and any 12", 14" or 16" pizza.</p>
			<p><strong>Please request at time of order.</strong>
			Must present one coupon per request. Not valid with any
			other offer. Woodstock's reserves the right to limit
			coupon use on any order.</p>
		</div>

    <br />

		<div class="coupon">
			<center><img src="static/css/img/coupon.jpg"></center>
			<h3>2 free sodas</h3>
			<p>With purchase of sticks and any 12", 14" or 16" pizza.</p>
			</p><strong>Please request at time of order.</strong>
			Must present one coupon per request. Not valid with any
			other offer. Woodstock's reserves the right to limit
			coupon use on any order.</p>
		</div>

  </div>
</body>
