<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type="text/css" href="css/main.css">
  </head>

<body>
  <div class="start">
    <h1>We are proud to support the Corvallis community!</h1>
    <br>
    <p>
    Woodstock's is proud of it's 30 year tradition of supporting the Corvallis community.
    Chuck Woodstock, Woodstock's founder, believed in giving back to the community that supported
    his business and Woodstock's Pizza Parlor has done just that almost since the day it first
    opened it's door (yes there was only one) on September 7, 1977.
    <br><br>
    Our Giving Mission is primarily directed towards those organizations and events that support:
    Education, Children, Women and Families in need (and yes, we include those pets as part of
    the family!). While those receive top priority in our consideration, we have been known to
    give to other causes if the budget allows and the pitch is outstanding. As one former
    employee was fond of saying 'You don't know if you don't ask'.
    <br><br>
    We generally can not make straight out monetary donations, but do make in-kind donations as
    well as offer fund-raising days in the restaurant (where a portion of the day's proceeds are
    given to your organization [limited availability]). We also have a year round fund-raising
    option for your organization if you are not at the "we-need-it-right-now!" point in your efforts.
    <br><br>
    Due to the high number of requests we receive, we do now require that all requests be made
    in writing. You can use our donation request form that can be down-loaded from this site or
    send in your own letter containing at minimum the same information contained in our form.
    All requests must be mail (USPS) or dropped off in our restaurant. Last minute requests
    are not likely to receive consideration as our giving budget is usually fully allocated
    well in advance of any given date so don't procrastinate!!
    <br><br>
    Clicking on the link below will bring up our donation request form, in <a href="https://acrobat.adobe.com/us/en/acrobat/pdf-reader.html">
      Adobe Acrobat</a> format. Print the rquest form out, complete it, and bring it to us for
      review at 1045 NW Kings Blvd, Corvallis.
    </p>
<br><br>
<div class="start">
      <a href="/static/request_form.pdf" target="_blank" download><img src="static/css/img/acroread.gif">Click here to download the Donation Request Form</a>
  </div>
</div>
</body>
