
 <div class="main">
        <h1>Welcome to Woodstock's Pizza Parlor!</h1>
        <h2>Established 1977</h2>
        <div id="start">
            <p>Woodstock's is now in its 30th year of community support - made possible by providing the <strong>best pizza
      </strong> at the <strong>best price</strong>.
                <br>
                <br>

                <strong>Thank you</strong> for providing your suggestions! Customer feedback is highly valuable to us, and we have provided additional topping choices, more options for custom built salads, and continue to expand our delivery area as a
                result.
                <br>
                <br>
            </p>
        </div>
    </div>
