<!DOCTYPE html>
<html>
  <head>
    <title>Job</title>
    <link rel=stylesheet type="text/css" href="css/main.css">
  </head>

<h1>JOB</h1>
<body>
  <div>
    <h1>Print this page and clip the coupons</h1>
	<h2>Then call us at 541-752-5151</h2>

		<div class="coupon">
			<center><img src="css/img/coupon.jpg"></center>
			<h3>$2.00 Off BreadSticks or CheeseSticks</h3>
			<h4>With purchase of sticks and any 12", 14" or 16" pizza.</h4>
			<p><strong>Please request at time of order.</strong>
			Must present one coupon per request. Not valid with any
			other offer. Woodstock's reserves the right to limit
			coupon use on any order.</p>

		</div>

		<div class="coupon">
			<center><img src="css/img/coupon.jpg"></center>
			<h3>2 free sodas</h3>
			<h4>With purchase of sticks and any 12", 14" or 16" pizza.</h4>
			</p><strong>Please request at time of order.</strong>
			Must present one coupon per request. Not valid with any
			other offer. Woodstock's reserves the right to limit
			coupon use on any order.</p>
		</div>

  </div><hr>
</body>

<footer>
  <h2>Hours of Operation</h2>
  <div>
    <h3>Every Day!</h3>
    <strong>
      Sunday-Thursday 11am-12am<br>
      Friday-Saturday 11am-1am<br><br>

      Fast, Free Delivery<br>
      <em>in most of Corvallis</em><br><br>

      <a href="http://maps.google.com/?q=1045%20NW%20Kings%20Blvd%20Corvallis,%20Oregon" class="map" target="_blank">
      1045 NW Kings Blvd<br>
      Corvallis, Oregon</a><br><br>
      <span>541-752-5151</span>
    </strong>
  </div><hr><br>

  <div>
    <ul>
      <li class="nostyle" onclick="location.href='menu.html'">Menu</a></li>
      <li class="nostyle" onclick="location.href='coupons.html'">Coupons</a></li>
      <li class="nostyle" onclick="location.href='suds.html'">Suds & Suds</a></li>
      <li class="nostyle" onclick="location.href='tour.html'">Tour</a></li>
      <li class="nostyle" onclick="location.href='donation.html'">Donation Requests</a></li>
      <li class="nostyle" onclick="location.href='job.html'">Job Information</a></li>
      <li class="nostyle" onclick="location.href='about.html'">About</a></li>
    </ul><br>Created by <strong>Alex Schultz</strong>; &copy;2016 Woodstock's
  </div>
</footer>
