<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type="text/css" href="css/main.css">
  </head>

<body>
  <div>
    <h1>Job Information</h1>
    <div class="menu">
      Clicking on the link below will bring up our job application, in <a href="https://acrobat.adobe.com/us/en/acrobat/pdf-reader.html">
        Adobe Acrobat</a> format. While we may not be hiring, we are always accepting applications. Print the application out, complete it, and bring it to us for review at 1045 NW Kings Blvd, Corvallis.
      <br><br>
      <a href="woodstocks_application.pdf" download><img src="static/css/img/acroread.gif">Woodstock's Job Application</a>
    </div>
    <br>
  </div>
</body>
