<!DOCTYPE html>
<html>

<head>
    <link rel=stylesheet type="text/css" href="css/main.css">
</head>

<body>
    <div>
        <h1>Menu</h1>
    </div>

    <div class="menu">
        <h2>Create your own:</h2>
        <h3>Step 1: Choose your crust</h3>
        <ul class="nobullet">
            <li>
                White
            </li>
            <li>
                Whole Wheat
            </li>
            <li>
                Gluten-free
            </li>
        </ul>

        <h3>Step 2: Sauce it up</h3>
        <p>Extra sauce is on the house! Just ask.</p>
        <ul class="nobullet">
            <li>
                Spicy Pizza Sauce
            </li>
            <li>
                Pesto
            </li>

        <h3>Step 3: Choose your toppings:</h3>
        <h4><strong>Prices:</strong></h4>
        <p>
            12": $1.30
            <br /> 14": $1.70
            <br /> 16": $1.90
        </p>

        <h4><strong>Proteins:</strong></h4>
        <div id="protein">
            American Bacon
            <br /> BBQ chicken
            <br /> Canadian Style Bacon
            <br /> Herb Chicken
            <br /> Italian Sausage
            <br /> Lean Beef
            <br /> Linguica
            <br /> Pepperoni
            <br /> Salami
            <br /> Shrimp
            <br />
        </div>

        <h4><strong>Other Toppings:</strong></h4>
        <div id="toppings">
            Extra Cheese
            <br /> Cheddar Cheese
            <br /> Feta Cheese
            <br /> Almonds
            <br /> Artichoke Hearts
            <br /> Broccoli
            <br /> Cilantro
            <br /> Green Onions
            <br /> Green
            <br /> Peppers
            <br /> Jalapenos
            <br /> Minced Garlic
            <br /> Mushrooms
            <br /> Olives (Green or Black)
            <br /> Onions (Red or Yellow)
            <br /> Pepperoncini
            <br /> Pineapple
            <br /> Roasted Red Peppers
            <br /> Spinach
            <br /> Sun Dried Tomatoes
            <br /> Tomatoes
            <br /> Zucchini
            <br />
        </div>
    </div>
</body>
