<!DOCTYPE html>
<html>

<head>
    <link rel=stylesheet type="text/css" href="css/main.css">
</head>

<body>
    <div>
        <h1>Menu</h1>
    </div>

    <div class="menu">
      <!-- LOOKUP BOOTSTRAP GRID SYSTEM -->
<p>(Click to expand/collapse)</p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#custom" aria-expanded="false" aria-controls="custom">
            Create your own Pizza
        </button>
        <div class="collapse" id="custom">
            <div>
                <h3>Step 1: Choose your crust</h3>
                <ul class="nobullet">
                    <li>
                        - White
                    </li>
                    <li>
                        - Whole Wheat
                    </li>
                    <li>
                        - Gluten-free
                    </li>
                </ul>

                <h3>Step 2: Sauce it up</h3>
                <strong>Extra sauce is on the house! Just ask.</strong>
                <ul class="nobullet">
                    <li>
                        - Spicy Pizza Sauce
                    </li>
                    <li>
                        - Pesto
                    </li>

                    <h3>Step 3: Choose your toppings:</h3>
                    <h4><strong>Prices:</strong></h4>
                    <p>
                        12": $1.30
                        <br /> 14": $1.70
                        <br /> 16": $1.90
                    </p>

                    <h4><strong>Proteins:</strong></h4>
                    <div id="protein">
                        American Bacon
                        <br /> BBQ chicken
                        <br /> Canadian Style Bacon
                        <br /> Herb Chicken
                        <br /> Italian Sausage
                        <br /> Lean Beef
                        <br /> Linguica
                        <br /> Pepperoni
                        <br /> Salami
                        <br /> Shrimp
                        <br />
                    </div>

                    <h4><strong>Other Toppings:</strong></h4>
                    <div id="toppings">
                        Extra Cheese
                        <br /> Cheddar Cheese
                        <br /> Feta Cheese
                        <br /> Almonds
                        <br /> Artichoke Hearts
                        <br /> Broccoli
                        <br /> Cilantro
                        <br /> Green Onions
                        <br /> Green
                        <br /> Peppers
                        <br /> Jalapenos
                        <br /> Minced Garlic
                        <br /> Mushrooms
                        <br /> Olives (Green or Black)
                        <br /> Onions (Red or Yellow)
                        <br /> Pepperoncini
                        <br /> Pineapple
                        <br /> Roasted Red Peppers
                        <br /> Spinach
                        <br /> Sun Dried Tomatoes
                        <br /> Tomatoes
                        <br /> Zucchini
                        <br />
                    </div>
                  </div>
            <!-- This div for everything inside custom  -->
          </div><br /><br />

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#combinations" aria-expanded="false" aria-controls="collapseExample">
                Combinations
            </button>
            <div class="collapse" id="combinations">
              <h4>Cheese Pizza</h4>
              <p><strong>Regular or Thin crust:</strong></p>
              12": $12.80<br />
              14": $15.10<br />
              16": $17.20<br /><br />
              <p><strong>Thick crust:</strong></p>
              12": $13.80<br />
              14": $16.50<br />
              16": $18.90<br /><br />

              <h4>Woodstock's Special</h4>
              <p>Your choice of five toppings for the price of four.</p>
              12": $18.00<br />
              14": $21.90<br />
              16": $24.80<br /><br />

              <h4>Moo U Special</h4>
              <p>Beef, Canadian-style bacon, mushrooms, extra cheese, onions, green pepper.</p>
              12": $19.00<br />
              14": $22.60<br />
              16": $26.00<br /><br />

              <h4>Vegetarian Special</h4>
              <p>Mushrooms, black olives, onions, tomatoes, green pepper.</p>
              12": $17.90<br />
              14": $21.60<br />
              16": $24.60<br /><br />

              <h4>Spicy Beav</h4>
              <p>Pepperoni, mushrooms, black olives, sausage, spices</p>
              12": $17.90<br />
              14": $21.60<br />
              16": $24.60<br /><br />

              <h4>Thai Pie</h4>
              <p>Thai peanut sauce, marinated chicken, carrots, cilantro, green onions,</p>
              12": $17.90<br />
              14": $21.60<br />
              16": $24.60<br /><br />

              <h4>Taco Pizza</h4>
              <p>Need we say more?!</p>
              12": $20.00<br />
              14": $25.20<br />
              16": $28.20<br /><br />

            </div><br /><br />


            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#misc" aria-expanded="false" aria-controls="misc">
                Sides & Sweets
            </button>
            <div class="collapse" id="misc">
              <br />
              <strong>May be delivered with a 12" or 16" pizza</strong><br /><br />

              <strong>8" Mini Pizza</strong><br />
              Cheese: $7.20<br />
              Additional toppings: $0.70<br /><br />

              <strong>Garlic Herb Bread</strong><br />
              Breadsticks: $3.90
              Breadsticks w/ cheese: $4.90<br />
              <em>Whole wheat or white; ranch dressing or marinara sauce</em><br /><br />

              <strong>Cinn-Sticks</strong><br />
              White or whole wheat with a side of frosting: $3.80<br /><br />

              <strong>(Hot) Beaver Wings</strong><br />
              7 wings: $6.95<br /><br />
            </div><br /><br />



            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#salads" aria-expanded="false" aria-controls="salads">
                Salads
            </button>
            <div class="collapse" id="salads">
              <br />
              <strong>May be delivered with 12", 14", or 16" pizza</strong><br /><br />

              <strong>Brother Tom's Special: $4.25</strong><br />
              Romain & iceberg lettuce, red cabbage, carrots, and your choice of one "other" topping.<br /><br />

              <strong>Salad Additions</strong><br />
              Add up to 5 toppings to the above at $0.60 each <br> (shrimp & chicken at additional charge)<br /><br />

              <strong>Antipasto Salad: $6.10</strong><br />
              Salad base plus salami, Canadian-style bacon, black olives, red onions, artichoke hearts, pepperoncini, & Italian dressing. It's a meal!<br />
            </div><br /><br />


            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#beverages" aria-expanded="false" aria-controls="beverages">
                Beverages
            </button>
            <div class="collapse" id="beverages">
              <br>
              <strong>Options</strong><br>
              <p>Classic, Cherry, + Diet Coke, Coke Zero, Sprite,
              <br>
              Root Beer, Mr.Pibb, Hi-C, Light Lemonade,<br /><br />
            </p>
              <p class="beverages">
              Fountain Drinks (one size): $1.65<br />
              Iced Tea (one size): $1.65<br />
              Milk: $1.00 / $1.75<br />
              Bottled sodas: varies<br />
              Snapple: $1.75<br />
              Juices: $1.65<br /><br />
            </p>
              <strong>Beer</strong><br />
              <p>Domestic: Pint = $3.65 || Pitcher = $10.60<br />
              Microbrew: Pint = $4.75 || Pitcher = $14.00<br />
            </p>
    <!-- this div is for the menu ID -->
    </div>
    <br><br>
    <p>**Prices Subject to Change**</p>
  </body>
