<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type="text/css" href="css/main.css">
  </head>

<body>
  <div class="start">
    <h1>Suds & Suds</h1>

    With over 30 domestic, microbrews, and imports on tap, Suds & Suds Bar offers one of the
    widest selections of beer in Corvallis. Suds & Suds offers a friendly, laid back atmosphere
    where you can enjoy a beer, some pizza and watch your favorite team on the big screen TV.
    There is always a good mix of locals and college-aged patrons who enjoy the reasonably priced beer.
<br><br>
    Suds & Suds also has some other amenities. If the sun is shining, you can go outside onto the Suds
    deck and enjoy the good weather. Come on into Suds & Suds, have a beer, and enjoy the company!
  </div>
</body>
