<!DOCTYPE html>
<html>
  <head>
    <title>Woodstocks Pizza</title>
    <link rel=stylesheet type="text/css" href="css/main.css">
  </head>

  <header>
    <div class="header">
    <nav>
      <div class="logo"><center><a href="index.html"><img src="css/img/logo.jpg"></a></center></div>
      <ul>
        <li class="link" onclick="location.href='menu.html'"><!--<a href="menu.html">-->Menu</a></li>
        <li class="link" onclick="location.href='coupons.html'">Coupons</a></li>
        <li class="link" onclick="location.href='suds.html'">Suds & Suds</a></li>
        <li class="link" onclick="location.href='tour.html'">Tour</a></li>
        <li class="link" onclick="location.href='donation.html'">Donation Requests</a></li>
        <li class="link" onclick="location.href='job.html'">Job Information</a></li>
        <li class="link" onclick="location.href='about.html'">About</a></li>
      </ul>
    </nav>
    </div>
  </header>
<!--  <header>
    <div class="header">
    <nav>
      <div class="logo"><center><a href="index.html"><img src="css/img/logo.jpg"></a></center></div>
      <ul>
        <li><a href="menu.html">Menu</a></li>
        <li><a href="coupons.html">Coupons</a></li>
        <li><a href="suds.html">Suds & Suds</a></li>
        <li><a href="tour.html">Tour</a></li>
        <li><a href="donation.html">Donation Requests</a></li>
        <li><a href="job.html">Job Information</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </nav>
    </div>
  </header>
-->

<body>
  <div>
    <h1>Over 30 domestic, microbrews, and imports on tap</h1>
  </div><hr>
</body>

<footer>
  <h2>Hours of Operation</h2>
  <div class="hours">
    <h3>Every Day!</h3>
    <strong>
      Sunday-Thursday 11am-12am<br>
      Friday-Saturday 11am-1am<br><br>

      Fast, Free Delivery<br>
      <em>in most of Corvallis</em><br><br>

      <a href="http://maps.google.com/?q=1045%20NW%20Kings%20Blvd%20Corvallis,%20Oregon" class="map" target="_blank">
      1045 NW Kings Blvd<br>
      Corvallis, Oregon</a><br><br>
      <span>541-752-5151</span>
    </strong>
  </div><hr><br>

  <div>
    <ul>
      <li class="nostyle" onclick="location.href='menu.html'">Menu</a></li>
      <li class="nostyle" onclick="location.href='coupons.html'">Coupons</a></li>
      <li class="nostyle" onclick="location.href='suds.html'">Suds & Suds</a></li>
      <li class="nostyle" onclick="location.href='tour.html'">Tour</a></li>
      <li class="nostyle" onclick="location.href='donation.html'">Donation Requests</a></li>
      <li class="nostyle" onclick="location.href='job.html'">Job Information</a></li>
      <li class="nostyle" onclick="location.href='about.html'">About</a></li>
    </ul><br>Created by <strong>Alex Schultz</strong>; &copy;2016 Woodstock's
  </div>
</footer>
