<!DOCTYPE html>
<html>

<head>
    <link rel=stylesheet type="text/css" href="css/main.css">
</head>

<body>
  <div class="menu">
    <h1>Tour, page 2</h1>
    <p>Making pizza at Woodstock's is a process. We do everything, from making the sauce and pizza crust fresh every morning well before we open, to preparing the fresh meats, cheese, and vegetable toppings that go on it. Here is a virtual tour that
        will take you through how we make the pizzas that everyone in the Willamette Valley area love so much.
    </p>
    <br>

    <div class="tour">
        <img src="static/css/img/toppings3.jpg">
        <p>Toppings are applied liberally to the pizza, giving a taste of each in every bite.</p>
    </div>
    <br>

    <div class="tour">
        <p>Then the pizza goes into our oven to bake. Note the grace used, pizza being put in, flesh not touching the oven, screams not echoing through the room.</p>
        <img src="static/css/img/oven7.jpg">
    </div>
    <br>

    <div class="tour">
        <img src="static/css/img/oven5.jpg">
        <p>We watch the pizzas carefully, no pizza is allowed to over cook or burn.</p>
    </div>
    <br>

    <div class="tour">
        <p>When the pizza is done, it is removed from our oven, and brought out to be cut and boxed.</p>
        <img src="static/css/img/oven4.jpg">
    </div>
    <br>

    <div class="tour">
        <img src="static/css/img/pizzacutting.jpg">
        <p>The pizza is then cut with such precision that you can either figure the radius of the pizza, or remove a perfect slice and calculate pi.</p>
    </div>
    <br>

    <div class="tour">
        <p>Finally, the pizza is boxed, and is ready to be served or delivered.</p>
        <img src="static/css/img/boxed.jpg">
    </div>
    <br>
    <a ui-sref-active="active" data-toggle="tab" ui-sref="tour2"><< Page 1 of the tour</a>

  </div>
</body>

</html>
