<!DOCTYPE html>
<html>

<head>
    <link rel=stylesheet type="text/css" href="css/main.css">
</head>

<body>
    <div class="menu">
        <h1>Tour</h1>

        <p>Making pizza at Woodstock's is a process. We do everything, from making the sauce and pizza crust fresh every morning well before we open, to preparing the fresh meats, cheese, and vegetable toppings that go on it. Here is a virtual tour that
            will take you through how we make the pizzas that everyone in the Willamette Valley area love so much.
        </p>
        <br>

        <div class="tour">
            <img src="static/css/img/doughmixing1.jpg">
            <p>Every morning, all the ingredients are brought together, and we make yet another batch of our delicious crust. We make our crust fresh every day; never frozen or pre-packaged.</p>
        </div>
        <br>

        <div class="tour">
            <p>After the dough is mixed, it is rolled, kneaded, and seperated so it is ready to be made into the crust which makes our pizzas unique.</p>
            <img src="static/css/img/doughmixing2.jpg">
        </div>
        <br>

        <div class="tour">
            <img src="static/css/img/crustthrowing.jpg">
            <p>Only a few hours later, we open. The next step is to have one of our coordinated employees toss the crust to get it to a uniform thickness and shape.</p>
        </div>
        <br>

        <div class="tour">
            <p>Not everyone can do this. One wrong throw and you have a decapitation. It's not a pretty sight when that happens, and then the person has to be demoted to be the customer footstool. This is why only the most talented of our employees throw the crust.</p>
            <img src="static/css/img/crustthrowing2.jpg">
        </div>
        <br>

        <div class="tour">
            <img src="static/css/img/sauce1.jpg">
            <p>After the crust is thrown, sauce is generously ladled on the soon-to-be pizza.</p>
        </div>
        <br>

        <div class="tour">
            <p>Next, on this pizza, cheese is heaped on. We use only 100% real cheese. Over a pound of cheese went onto this pizza. No farm animals were abused in the making of this pizza or our website.</p>
            <img src="static/css/img/cheese.jpg">
        </div>
        <br>

        <div class="tour">
            <img src="static/css/img/toppingbin1.jpg">
            <p>Then, from our glorious Bin o' Toppings, we get the meats, cheese, and vegetables that the customer ordered.</p>
        </div>
        <br>
        <a ui-sref-active="active" data-toggle="tab" ui-sref="tour2">>> Page 2 of the tour</a>
    </div>
</body>
